<h2>Enter your favourite movie title to find out more. Is it <span class="bold">Jaws</span> or <span class="bold">The Wedding Singer</span>? </h2>
<form class="" action='/movie' method="get">
  <input type="text" name="t" value="">
  <button>search</button>
</form>
<!-- <h1 class="movie-title">...more more more</h1> -->
