<h2>Enter your favourite movie title to find out more. Is it <span class="bold">Jaws</span> or <span class="bold">The Wedding Singer</span>? Perhaps you enjoy movies that are more romantic like <span class="bold">The Notebook</span>. </h2>
<form class="" action='/search' method="get">
  <input type="text" name="s" value="">
  <button>search</button>
</form>
<!-- <h1 class="movie-title">...more more more</h1> -->
