.results {
  margin-top: 5%;
}
img {
  object-fit: cover;
  width: 225px;
  height:225px;
  margin: 15px;
}
body {
  margin: 5%;
}
img:hover {
  width: 245px;
  height: 245px;
  margin:5px;
  box-sizing: border-box;
}
